<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1></h1>
            <form action="/">
                <div class="form-group">
                    <label for="input_1"></label>

                    <label for="input_2"></label>

                </div>
                <button class="btn btn-success" type="submit">Play!</button>
            </form>
            <hr>
            <br>
            <!-- <div class="well">
                <h3>Who won?</h3>
                <p>
                    {{ results }}
                </p>
            </div> -->
        </div>
    </body>
</html>
