<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Count Repeats</title>
    </head>
    <body>
        <div class="container">
            <h1>Count Repeats</h1>
            <div class="row">
                <div class="well">
                    <h3> The word appeared in your text {{ result }} times.</h3>
                </div>
                <h4><h3><a href="/">Try again</a></h3></h4>
            </div>
        </div>
    </body>
</html>
