<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Megrim|Lato|Raleway:400,500" rel="stylesheet" type="text/css">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="css/styles.css" media="screen">
        <title>Count Repeats</title>
    </head>
    <body>
        <div class="container-fluid jumbotron text-center">
            <h1>Count Repeats</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="well">
                    <h3> The word appeared in your text the following number of times:</h3>
                    <h4>{{ result }}</h4>
                </div>
                <h4><a href="/">Try again</a></h4>
            </div>
        </div>
    </body>
</html>
